<!--
  ti_mmwave_rospkg Launch 
 -->

<launch>

  <!-- Input arguments -->
  <arg name="device" default="6843AOP" doc="TI mmWave sensor device type [1443, 1642, 1843, 6843, 6843AOP]"/>
  <arg name="config" default="6843AOP_3d_2" doc="TI mmWave sensor device configuration"/>
  <arg name="max_allowed_elevation_angle_deg" default="90" doc="Maximum allowed elevation angle in degrees for detected object data [0 > value >= 90]}"/>
  <arg name="max_allowed_azimuth_angle_deg" default="90" doc="Maximum allowed azimuth angle in degrees for detected object data [0 > value >= 90]}"/>
  <arg name="command_port" default="usb-Silicon_Labs_CP2105_Dual_USB_to_UART_Bridge_Controller_00E2589A-if00-port0"/>
  <arg name="data_port" default="usb-Silicon_Labs_CP2105_Dual_USB_to_UART_Bridge_Controller_00E2589A-if01-port0"/>

  <!-- mmWave_Manager node -->
  <node pkg="ti_mmwave_rospkg" type="ti_mmwave_rospkg" name="mmWave_Manager" output="screen">
    <param name="command_port" value="/dev/serial/by-id/$(arg command_port)"  />
    <param name="command_rate" value="115200"   />
    <param name="data_port" value="/dev/serial/by-id/$(arg data_port)"  />
    <param name="data_rate" value="921600"   />
    <param name="max_allowed_elevation_angle_deg" value="$(arg max_allowed_elevation_angle_deg)"   />
    <param name="max_allowed_azimuth_angle_deg" value="$(arg max_allowed_azimuth_angle_deg)"   />
    <param name="frame_id" value="ti_mmwave"/>
    <param name="mmWaveCLI_name" value="/mmWaveCLI" />
    <remap from="/ti_mmwave/radar_scan_pcl" to="/ti_mmwave/radar_scan_pcl"/>
  </node>
  
  <!-- mmWaveQuickConfig node (terminates after configuring mmWave sensor) -->
  <node pkg="ti_mmwave_rospkg" type="mmWaveQuickConfig" name="mmWaveQuickConfig" args="$(find ti_mmwave_rospkg)/cfg/$(arg config).cfg" output="screen" >
    <param name="mmWaveCLI_name" value="/mmWaveCLI" />
  </node>

  <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node> -->
  
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="radar_baselink_0" args="0 0 0 0 0 0 base_link ti_mmwave"/> -->
  <!-- <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" /> -->

</launch>